:root {
  // colors
  --bg-color: #191d1a;
  --accent-color: #95ff4c;
  --decorative-color: #b99fff;
  --text-color: #f4f4f4;
  --text-color-secondary: #f4f4f4b2;
  --card-color: #073205;
  --cover-title-color: #f4f4f466;
  --card-bg-color: #f4f4f40d;
  --el-bg-color: #f4f4f41a;
}

$breakpoint-xs: 360px;
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1440px;
$breakpoint-xxxl: 1920px;
